html{
  background-image: url(../img/logo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250%;
}
header {
  position: fixed;
  top:0;
  width: 100%;
  background-color: orange;
  height: 5%;
}
h1,h2{
  font-size: 60px;
  margin: 0 auto;
  text-align: center;
  height: 30px;
  width: 100%;
}
.top{
  color: rgb(210,210,210);
  font-size: 30px;
  text-align: center;
  margin: 20px 150px 20px 150px;

}
nav{
  position: fixed;
  top: 5%;
  height: auto;
  width: 100%;
  display: flex;
  background-color: #b7c5c5;
}
nav a {
  text-decoration: none;
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px;
  Color: red;
}
.main2{
  display: flex;
  margin: 20px;
  height: 600px;
}
.main2 div{
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  height: 800px;
}
.main2 img{
  width: 600px;
  height: 600px;
  margin-top: 80px;
  justify-content: space-around;
}

.info{
 flex:2;
 padding: 20px;
}
.accountServices {
  justify-content: flex-end;
  padding: 20px;
}
.Container{
  margin: 0 auto;
  display: flex;
  flex-basis: 50%;
  height: auto;
}
h2{
  color: white;
  font-size: 90px;
  font-weight: 600;
  margin-top: 200px;
  margin-bottom: 120px;
}
.Container div{
  height: auto;
  background-color: rgba(100,100,100,0.5);
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  font-size: 35px;
  Color: white;
}
.profile1, .profile2, .profile3 {
  display: flex;
  flex-direction: column;
}
h3{
text-align: center;
margin-bottom: 50px;
font-size: 60px;
}

.Container img{
width: 300px;
height: 250px;
margin: 0 auto;
margin-bottom: 40px;
border-radius: 50%;
}
@media (max-width: 900px){
html{
  height: auto;
}
.header{
  display: flex;
  flex-wrap: wrap;
  top: 0%;
  height: 3%;
}
nav{
  top: 5%;
  font-size: 20px;
  height: 10%;
}
nav a{
  font-size: 25px;
}
.accountServices{
  flex-direction: column;
  flex-basis: 100%;
  height: auto;
  padding-right: 40px;
}
.main2{
  flex-direction: column;
  height: auto;
  margin-right: 20px
}
.main2 div{
  flex-basis: 100%;
}
.Container{
  flex-basis: 100%;
  flex-direction: column;
}
}
